* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #6997f6;
}

.description {
    font-size: 18px;
    background: #fae0e0;
    padding: 6%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img1 {
    width: 25%;
    height: auto;
    padding: 20px;
    margin-top: 20px;
}

.img2 {
    max-width: 25%;
    height: auto;
    padding: 20px;
}

.links {
    background: pink;
    padding: 3%;
    border-radius: 10px;
    width: 100%;
    float: left;
}
